<h1 style="margin: 0;">{{general_title}}</h1>

<div class="modal-body" >
    <table id="uploads" class="display" cellspacing="0" width="100%" data-page-length={{paginate}}>
        <thead>
            <tr>
                <th style="min-width:150px">Name</th>
                <th style="min-width:120px">Description</th>
                <th style="min-width:100px">Uploaded By</th>
                <th style="min-width:120px">Date Uploaded</th>
                <th style="min-width:80px">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% if row.is_url %}
                    <td id ="{{row.id}}" class="url_download"><a href={{row.src_name}} target="_blank">{{ row.title }}</a></td>
                {% else %}
                    <td id ="{{row.id}}" class="file_download"><a href=#>{{ row.title }}</a></td>
                {% endif %}
                <td>{{ row.description }}</td>
                <td>{{ row.uploaded_by }}</td>
                <td>{{ row.date_uploaded }}</td>
                <td style="text-align: center">
                    {% if row.uploaded_by == username or self.runtime.user_is_staff %}
                    <span><a href=#><img id = "{{row.id}}" src={{gear_icon}} class="name_edit" width="15px"></a></span>
                    <span><a href=#><img id = "{{row.id}}" src={{bin_icon}} class="delete_row" width="15px"></a></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>